{% extends 'otree/WaitPage.html' %}
{% load staticfiles otree_tags %}
{% block title %}Please wait!{% endblock %}

{% block content %}

    <h4><b><span id="how_many_arrived"></span> out of {{ Constants.players_per_group }}</b> participants are
        already here.
    </h4>
    <h4>Waiting for <span id="left_to_wait"></span> more <span id="left_to_wait_people"></span>...</h4>

    <div class="bs-callout bs-callout-warning">
        <h4>Important info</h4>
        <p>You are paid for every minute that we make you wait.</p>
        <h3>For every minute of waiting you will receive additional <b>{{ payment_per_minute_in_usd }}</b></h3>
        <p id="waiting_profit_counter">

        </p>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'customwp/waiting_page_channel.js.html' %}

{% endblock %}


{% block styles %}
    <link href="{% static "global/bs-callout.css" %}" rel="stylesheet">

    <style>
        #left_to_wait {
            font-weight: bold;
        }
    </style>
{% endblock %}