{% extends 'customwp/CustomWaitPage.html' %}
{% load staticfiles otree_tags %}
{% block title %}Please wait!{% endblock %}
{% block styles %}
    <link href="{% static "global/bs-callout.css" %}" rel="stylesheet">
    <style>
        #left_to_wait {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block content %}
    {{ block.super }}


<div class="bs-callout bs-callout-info">
    <h4>Leaving the study:</h4>
    <p>On average the waiting time is less than 1 minute. </p>
    <p>If you don’t want to wait, you can quit the waiting page immediately, and <b>RETURN THIS HIT</b>.</p>
    <p>If you choose to wait and other participants will not be here in <b>{{ OOG_time_minutes }}
        minute{{ OOG_time_minutes|pluralize }}</b>,
        you will be able to <b>finish this study</b> and receive the participation fee of {{ session.config.participation_fee }}
        plus everything you have earned by waiting.</p>
    <p id="waiting_profit_counter">
    </p>
</div>


        <div id="otree-timeout" class="alert alert-warning" style="display:block;">
            <p>You can finish the study if other participants do not arrive in: <span id="otree-timeout"></span>


            </p>
        </div>

    <div id="part_fee_info" class="alert alert-danger" role="alert" style='display:none;'>
        <b>If you click 'Finish the study' you still will receive your participant fee!</b>
    </div>
    <form action="" method="post" role="form" class="form">
        {% csrf_token %}
        <div>
            <button class="btn btn-primary" id='finish_study'
                    style="display:    {% if subsession.not_enough_players %}inline{% else %}none{% endif %};"
                    name="endofgame" value="{{ player.pk }}">
                Finish the study
            </button>
        </div>
        <br>
    </form>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/otree/js/jquery.countdown.min.js"></script>

    <script>

        $('div#otree-timeout').show();
        var currentDate = new Date();
        var milliseconds = Math.floor({{ time_left|json }} * 1000
        )
        ;
        $('span#otree-timeout').countdown(currentDate.valueOf() + milliseconds)
            .on('update.countdown', function (event) {
                // %-N is "Total count of minutes till the end, non-padded"
                // %S is seconds left
                var format = '%-N:%S';
                $(this).html(event.strftime(format));
            })
            .on('finish.countdown', function (event) {
                $('div#otree-timeout').hide(duration = 0);
                $('#finish_study').show();
                $('#part_fee_info').show();
            });


    </script>

{% endblock %}
