{% extends "global/PageExt.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    End of study
{% endblock %}

{% block inner_content %}
    <h1>Sorry, but you were not able to respond on time and the study has been finished for you.</h1>

        {% include 'includes/finalresultstable.html' %}

    <p> If you have any issues regarding the study, please contact us immediately at
    <a href="mailto:chapkovskii@soziologie.uzh.ch">chapkovskii@soziologie.uzh.ch</a>.
    {% next_button %}
{% endblock %}
