<script>
    var SECOND = 1000;
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var wpsocket = new WebSocket(ws_scheme + '://' + window.location.host + "/watcher/group/{{ group.pk }}/participant/{{participant.code}}/player/{{player.pk}}/page_type/{{ page_type }}");
    var sec_spent = 0;
    var sec_earned = 0;
    var pay_per_sec = {{ pay_per_sec }};

    function fancyTimeFormat(time) {
        // Hours, minutes and seconds
        var hrs = ~~(time / 3600);
        var mins = ~~((time % 3600) / 60);
        var secs = time % 60;

        // Output like "1:01" or "4:03:59" or "123:03:59"
        var ret = "";

        if (hrs > 0) {
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        }

        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs;
        return ret;
    };
    $(function () {


        initWebSocket();

        function initWebSocket() {

            // Handle any errors that occur.
            wpsocket.onerror = function (error) {
                console.log('WebSocket Error: ' + error);
            };

            // Show a connected message when the WebSocket is opened.
            wpsocket.onopen = function (event) {
                console.log('connected to oTree');
                if (wpsocket.readyState == WebSocket.OPEN) {
                    msg = JSON.stringify({'update_request': true});
                    wpsocket.send(msg);

                }
                ;

            };
            // Handle messages sent by the server.
            wpsocket.onmessage = function (event) {
                {#                var obj = JSON.parse(event.data);#}
                {#                console.log(obj);#}
                console.log('message received!', event.data)
                var obj = JSON.parse(event.data);
                if (obj.time_earned) {
                    sec_spent = obj.time_earned;
                    sec_earned = obj.earn_so_far;
                    update_spans();
                }
                if (obj.not_enough_players_in_subsession) {
                    $('form').submit();
                }
                ;


            };


            // Show a disconnected message when the WebSocket is closed.
            wpsocket.onclose = function (event) {
                console.log('disconnected from oTree');
            };
        };
        setInterval(function () {
            if (wpsocket.readyState == WebSocket.OPEN) {
                msg = JSON.stringify({'update_request': true});
                wpsocket.send(msg);

            }
            ;
        }, 10 * SECOND);

        function update_spans() {
            var curtime_spent = fancyTimeFormat(Math.round(sec_spent));
            $('#sec_spent_span').html(curtime_spent);
            $('#sec_earned_span').html('$' + sec_earned.toFixed(2));
        }


        window.setInterval(function () {
            sec_spent += 1;
            sec_earned +=pay_per_sec;
            update_spans();
        }, SECOND);


    });


</script>