{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
    <p>
        Each participant is randomly assigned to a group of three.
        There are two groups: <b>A</b> and <b>B</b>, with three participants
        in each group. </p>
    <p>We call a participant from the group A: <b>Participant A</b>,
        and a participant from the group B: <b>Participant B</b>.</p>
    <div class="panel panel-default">
        <div class="panel-body">
            You have been assigned to the <strong> group {{ player.subgroup }}.</strong>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            In each round you are matched with one participant from
            <strong>group {{ player.another_subgroup_name }}</strong>.
        </div>
    </div>

    <p>
        The experiment consists of <strong>{{ Constants.num_rounds }}</strong> rounds.
        In each round you have to take the following decision:
    </p>
    <h2>Decision:</h2>

    <p>In each round you are given <b>{{ Constants.endowment }} points</b> and you have to decide how much, if any, to
        transfer to the
        other
        participant.

        The amount of money you decide to transfer will be multiplied by <b>{{ Constants.pd_factor }}</b> and earned by
        the
        other
        participant.

        The other participant will be given the same choice.</p>

    <p>
        For instance:
    <ul>
        <li>
            If you both transfer everything, you both get {{ max_pd }} points and are better off than if
            you both keep
            everything.
        </li>
        <li>
            If you transfer everything and the other person keeps everything, then you earn nothing
            in this stage.
        </li>
        <li>
            If you keep
            everything and the other participant transfers everything, then you get {{ egoistic_pd }} points and
            your partner will earn nothing.
        </li>
    </ul>

    </p>


    <p>
        Your partner from group {{ player.another_subgroup_name }}
        has the same incentives as you. You and your partner will make your decisions simultaneously.
    </p>
    <div class="panel panel-info">
        <div class="panel-heading">Payoffs</div>
        <div class="panel-body">
            <p>
                In the end of the experiment your earnings will be calculate as follows:
            </p>
            <p>You will get a participation fee of {{ session.config.participation_fee }}.</p>
            <p>In addition all your payoffs in all {{ Constants.num_rounds }} rounds will
                be summed up and converted in US dollars at the exchange rate of:</p>
            <p>
                <b> {{ base_points }} points = 1 US dollar</b>.</p>
        </div>
    </div>
</div>

{% block styles %}
    <link href="{% static "colsan_small/colsan.css" %}" rel="stylesheet">
{% endblock %}
