{% extends "global/PageExt.html" %}
{% load otree_tags staticfiles %}
{% block title %}
    Round {{ view.round_number }} of {{ Constants.num_rounds }}: Stage 1. Decision
{% endblock %}

{% block inner_content %}


    {% formfield player.pd_decision with label='Tick the amount of money you want to transfer to the other participant' %}
    <div class="alert alert-info pd_info">


    </div>

    {% next_button %}
    {% include Constants.instructions_stage1_wrapper %}


{% endblock %}

{% block styles %}
    <link href="{% static "colsan_small/colsan.css" %}" rel="stylesheet">

    <style>

    </style>

{% endblock %}

{% block scripts %}
    <script>
        $('input[name=pd_decision]').click(function () {
            var received_val = ($(this).val()) * {{ Constants.pd_factor }};
            var $string = "The other participant from  group {{ player.another_subgroup_name }} will receive <b>" + received_val + "</b> points.";
            $('.pd_info').html($string);
        });
    </script>
{% endblock %}
