{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}
{% block title %}
  Comprehension questions {% if session.config.outgroup %}- page 1/2{% endif%}
{% endblock %}
{% block content %}

<table class="table table-hover table-striped table-bordered">
  <tbody>
  {% for f in form %}
    <tr>
      <th class='leftjust'>{{f.label}}</th>
      <td><span class="red">{{f}}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% next_button %}
{% include Constants.instructions_stage1_wrapper %}


{% endblock %}
