{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}
{% block title %}
  Comprehension questions - page 2/2
{% endblock %}
{% block content %}


<h4>In the stage 2, you chose to send a deduction token to a Participant
    {% if session.config.ingroup %}
    A
  {% else %}
    B
  {% endif %}
  .</h4>
  <ul>
    <li>
{% formfield player.q_pun_received with label=q_pun_received_label %}</li>
<li>{% formfield player.q_pun_sent %}</li>
</ul>
<h4>Imagine, that you were the one whose decision was shown to someone
   from the Group B. This person decides to send you a deduction token.</h4>

<ul><li>{% formfield player.q_colsan %}</li></ul>

{% next_button %}

      {% include Constants.instructions_stage2_wrapper %}

{% endblock %}
