{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
  <p>
    Now for <b>{{Constants.num_rounds_second}}</b> round{{ Constants.num_rounds_second|pluralize }} you will participate in a second phase of the experiment.
    You are matched with the same participants with whom you were matched
    for the first <b>{{Constants.num_rounds_first}}</b> round{{ Constants.num_rounds_first|pluralize }}. </p>
  <p>
    The procedure is the following:
    Each round consists of <b>  {% if group.ingroup %} 3 {% else %} 2 {% endif %}</b> stages.
    The first stage is the same as you had during first {{Constants.num_rounds_first}}
     round{{ Constants.num_rounds_first|pluralize }}.
    After one member of your group participated in a Stage 1, the
    Stage 2 begins.
    At Stage 2 you and other members of your group can observe decisions
    made at Stage 1.
</p>
<p>
  Specifically you can observe the decision made by a member of another group
  and the decision made a member of your group.
  {% if group.colsan %}
    However you do not know who
     specifically from another group communicated with your group at Stage 1.
  {% endif %}
  You can send deduction tokens that will decrease payoff of a member of
  another group. Each deduction token sent by you to a member of another
  group will decrease his or her payoff by <b>{{Constants.punishment_factor}}</b>
  points while decreasing
  your payoff by one point. Other members of your group can do the
  same.
  {% if group.colsan %}
    Since you don’t know who specifically communicated with
    your group at Stage 1 the member of another group whose payoff
    will be decreased is chosen randomly.
  {% endif %} </p>
  <p>
  Meanwhile the members of another group will also take their decisions
  whether to send deduction tokens to that member of your group who
  participated in Stage 1. Each deduction token sent by them will
  decrease your group member’s payoff by <b>{{Constants.punishment_factor}}</b>
  points and their payoffs
  by 1 point.

  {% if group.colsan %}
    Since the members of another group do not know
    who specifically from your group communicated with their group
    at Stage 1 the member from your group whose payoff
    will be decreased is chosen randomly.
  {% endif %}
  </p>
</div>
