{% load otree_tags staticfiles %}

<div class="instructions well well-lg">
<p>
  At stage 3 you can take the similar decision that you made at Stage 2,
  but regarding your own group member who participated in Stage 1.
</p>
<p>
  You can send the deduction tokens to a member of your group who
  participated in Stage 1. Each deduction token sent by you to
  a member of your group will decrease his or her
  payoff by <b>{{Constants.punishment_factor}}</b> points
  while decreasing your payoff
  by one point. Other members of your group can do the same.
</p>
</div>
