{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
<h2>The Task</h2>
        <p>
          Each participant is randomly assigned to a group of three.
          There are two groups: <b>A</b> and <b>B</b>, with three participants
          in each group. </p>
          <p>We call a participant from the group A: <b>Participant A</b>,
            and a participant from the group B: <b>Participant B</b>.</p>
          You have been assigned to a group A. Your decisions will affect your
          own outcome, the outcomes of the other members
          of your group (<b>A</b>), and the outcomes of the members of another group
          (<b>B</b>). Likewise, the decisions of the other members
          of your group and of the other group will affect your outcome.
        </p>
        <p>
          The experiment consists of <strong>{{Constants.num_rounds}}</strong> rounds.
          Each round consists of two stages as follows:
        </p>
        <h2>Stage 1:</h2>
        <p>
          At the beginning of Stage 1 you will be matched with a random
          participant from a group <strong>B</strong>. Each other member of
          your group A will also be matched randomly with another participant
          of a group B.
        </p>
        <p>
          You and your partner must choose between two actions: <span class="red">RED</span> or <span class="blue">BLUE</span>. Your choice affects your earnings and the earnings of your partner.
        </p>
        <ul class="list-group">

          <li class="list-group-item">If you both choose <span class="red">RED</span>: you gain <b>{{Constants.yesyes_payoff}}</b>
            points, and your partner gains {{Constants.yesyes_payoff}} points.</li>
          <li class="list-group-item">If you choose <span class="red">RED</span> and your partner chooses
            <span class="blue">BLUE</span>: you gain <b>{{Constants.yesno_payoff}}</b>, your partner gains {{Constants.noyes_payoff}}.</li>
          <li class="list-group-item">If you choose <span class="blue">BLUE</span> and your partner
            chooses <span class="red">RED</span>: you gain <b>{{Constants.noyes_payoff}}</b>, your partner gains {{Constants.yesno_payoff}}.</li>
          <li class="list-group-item">If you both choose <span class="blue">BLUE</span>: you gain <b>{{Constants.nono_payoff}}</b>, your partner gains {{Constants.nono_payoff}}.</li>
        </ul>
        <p>
          These choices are depicted in the table below. The first entry in each
          cell represents your payoff for that round, while the second entry represents
          the payoff of the person you are matched with.
        </p>
        <table class="table table-hover table-striped  ">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th colspan="2">Your partner's decision</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td><span class="red">Red</span></td>
              <td><span class="blue">Blue</span></td>
            </tr>
            <tr>
              <th rowspan="2" class='vertical-center'>Your decision</th>
              <td><span class="red">Red</span></td>
              <td><b>{{Constants.yesyes_payoff}}</b>, {{Constants.yesyes_payoff}}</td>
              <td><b>{{Constants.noyes_payoff}}</b>, {{Constants.yesno_payoff}}</td>
            </tr>
            <tr>

              <td><span class="blue">Blue</span></td>
              <td><b>{{Constants.yesno_payoff}}</b>, {{Constants.noyes_payoff}}</td>
              <td><b>{{Constants.nono_payoff}}</b>, {{Constants.nono_payoff}}</td>
            </tr>
          </tbody>
        </table>

        <p>
          Your partner has the same incentives as you. You and your partner will make your decisions simultaneously.
        </p>

</div>

{% block styles %}
    <link href="{% static "colsan/colsan.css" %}" rel="stylesheet">
{% endblock %}
