{% load otree_tags staticfiles %}
<div class="instructions well well-lg">
  <h2>Stage 2:</h2>
          <p>
            In Stage 2 you see the decisions of <b>another</b> pair:
            one <b>random</b> member of your own group (Participant A) and a person from group
             B with whom he or she was matched (Participant B).



{% if session.config.outgroup %}
          <p>
            At the beginning of Stage 2 all participants receive an additional
             endowment of <b>{{Constants.punishment_endowment}}</b> points.
             By transferring points from this endowment you can decrease
             {% if session.config.ingroup %}
               incomes of other participants.
             {% else %}
               an income of a participant from Group B.
             {% endif%}
             {% if session.config.ingroup %}</p>
             <p>


             For example if you send <b>1</b>
                deduction token to a participant from your own group (Participant A), your endowment will be
                decreased by <b>1</b>&nbsp;point, but a payoff of this specific Participant A will be
                 decreased by <b>{{Constants.punishment_factor}}</b>&nbsp;points.
             {% endif%}
              {% if session.config.colsan %} </p><p>
                If you send <b>1</b> deduction point to a Participant B, we will choose <i><b>randomly</b></i> one
                member of a group B and we will decrease his or her income by
                <b>{{Constants.punishment_factor}}</b> points.
                It is not known who exactly from a group B will be
                picked to have his or her income diminished by your deduction
                tokens.

              {% else %}
            If you send <b>1</b>
               deduction point to a Participant B (a member of group B who
               was matched with Participant A), your endowment will be
               decreased by <b>1</b> point, but a payoff of Participant B will
               be decreased by <b>{{Constants.punishment_factor}}</b> points.
               {% endif%}
          </p>
          <p>
            Other members of your group can make the same decisions.</p>
            <p> The
            members of group B also make the same decisions about sending
            deduction tokens to
              {% if session.config.colsan %}
              a <i><b>random</b></i> member of your group{% else %}
                the member of your group, whose decision was shown to them{% endif%}{% if session.config.ingroup %}, and/or to the specific member of their own group{% endif%}.
          </p>
          <p>
{% endif%}
              When you
              {% if session.config.outgroup %}
                make your decision in Stage 2 and
              {% endif%}
              click ‘Next’ you will
              be shown your and your partner’s decisions made in Stage 1 and
              your payoff for this round.
          </p>

</div>
{% block styles %}
    <link href="{% static "colsan/colsan.css" %}" rel="stylesheet">
{% endblock %}
