{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}
{% block title %}
Stage 1. Decision. Round {{view.round_number}} of {{Constants.num_rounds}}
{% endblock %}

{% block content %}
<table class="table" id='tableSelect'>
  <thead>
    <tr>
      <th></th>
      <th>Your decision</th>

    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <th>Blue</th>
      <td>
        <input type="radio" id="id_pd_decision_1" value="False" name="pd_decision" required="" >
      </td>

    </tr>
    <tr class="danger">
      <th>Red</th>
      <td>
        <input type="radio" id="id_pd_decision_2" value="True" name="pd_decision" required="">
      </td>
    </tr>
  </tbody>
</table>



{% include Constants.instructions_stage1_wrapper %}

{% next_button %}
{% endblock %}

{% block styles %}
    <link href="{% static "colsan/colsan.css" %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script>

        $('#tableSelect tr').click(function() {
        $(this).find('td input[type=radio]').prop('checked', true);
    })
    </script>
{% endblock %}
