{% extends "global/PageExt.html" %}
{% load otree_tags staticfiles %}
{% block title %}
    Stage 2. Decision. Round {{ view.round_number }} of {{ Constants.num_rounds }}
{% endblock %}


{% block inner_content %}
    <div class="alert alert-info" role="alert">
        You receive <b>{{ player.punishment_endowment }}</b> extra points which you can use to send deduction tokens to
        other participants.
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th></th>
            <th>He/she sent to the partner at Stage 1:</th>
            <th>Deduction tokens you send to him/her:</th>
            <th>His/her payoff is decreased by:</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>A participant from your group (<b>{{ player.subgroup }}</b>)</td>
            <td>{{ player.random_pair.ingroup_member.pd_decision }}</td>
            <td class="text-center">
                {% if session.config.ingroup %}
                    {% formfield player.ingroup_punishment with label='' %}
                {% endif %}
            </td>
            <td class="ingroup_punishment pun_results"></td>
        </tr>
        <tr>
            <td>A participant from another group (<b>{{ player.another_subgroup_name }}</b>)</td>
            <td>{{ player.random_pair.outgroup_member.pd_decision }}</td>
            <td>
                {% if  session.config.outgroup %}
                    {% formfield player.outgroup_punishment with label='' %}
                {% endif %}
            </td>
            <td class="outgroup_punishment pun_results"></td>
        </tr>
        </tbody>
    </table>




    {% if session.config.colsan  and  session.config.outgroup %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            If you send the deduction tokens to a Participant B, an income of a <b>random</b> participant from group B
            will
            be decreased.
        </div>


    {% endif %}

    {% next_button %}


    {% include Constants.instructions_stage2_wrapper %}


{% endblock %}
{% block styles %}
    <style>
        .table > tbody > tr > td {
            vertical-align: middle !important;
        }

        input.form-control {
            display: inline-block;
            text-align: center;
        }

        div.form-group {
            margin-bottom: 0px;
        }

        red {
            font-weight: bold;
            color: red;
        }
    </style>
{% endblock %}
{% block scripts %}

    <script type="text/javascript">
        var input_array = [
            {% if session.config.ingroup %} 'ingroup_punishment', {% endif %}
            {% if session.config.outgroup %} 'outgroup_punishment' {% endif %}
        ];
        var pun_factor = {{ Constants.punishment_factor }};
        var max_pun = {{ Constants.punishment_endowment }};
        var err_to_show = 'Total amount of deduction tokens should be less than {{ Constants.punishment_endowment }}!';
        $("input.form-control[type=number]").keyup(function () {
            var tot_pun = 0;
            var name = $(this).attr("name");
            {#            console.log(this.value);#}
            var $recipient = $('td.' + name);
            for (i in input_array) {
                tot_pun += parseInt($("input.form-control[name=" + input_array[i] + ']').val()) || 0;
            }
            ;
            console.log('TOTAL PUN  ' + tot_pun);
            if (tot_pun > max_pun) {
                for (i in input_array) {
                    $("input.form-control[name=" + input_array[i] + ']').tooltip({title: err_to_show});
                }
                ;
                $(this).tooltip('show');
            } else {
                for (i in input_array) {
                    $("input.form-control[name=" + input_array[i] + ']').tooltip('destroy');
                }
                ;
            }
            var $to_show = this.value <= max_pun ? this.value * pun_factor : '<red>!</red>';
            if (this.value == '') {
                $to_show = ''
            }
            ;
            $recipient.html($to_show);

        });

    </script>
{% endblock %}
